body {
	background-color: white;
}

.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 100%;
	
	display: flex;
    flex-wrap: wrap;
	flex-direction: column;
    justify-content: center;
	align-content: center;
	
    z-index: 100;
    transition: transform 0.15s linear;
	transform: translateX(-100%);
}
.sidebar[is_open=true] {
    transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
    transform: translateX(0%);
}
.sidebar button {
    position: relative;
    margin: 32px;
    width: 64px;
    height: 64px;
    
    border-radius: 50%;
    border: none;
}
button::before {
    content: ""; 

    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    z-index: -10;
    opacity: 0%;
    transition: opacity 0.1s ease-in;
}
button:hover::before {
    opacity: 50%;
    transition: opacity 0.2s ease-in;
}
button:active::before {
    opacity: 100%;
    transition: opacity 0s ease-in;
}
button::after {
    position: absolute;
    top: 104%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);

    z-index: 10;
    opacity: 0%;
    transition: opacity 0.1s ease-in;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: large;
}
button:hover::after {
    opacity: 100%;
    transition: opacity 0.2s ease-in;
}
#environment::before {
    background: linear-gradient(90deg, rgba(255, 210, 110, 1) 0%, rgba(255, 0, 168, 1) 100%);
}
#algorithm::before {
    background: linear-gradient(90deg, rgba(255, 162, 0, 1) 0%, rgba(254, 255, 110, 1) 100%);
}
#play::before {
    background: linear-gradient(90deg, rgba(108, 255, 0, 1) 0%, rgba(110, 240, 255, 1) 100%);
}
#reset::before {
    background: linear-gradient(90deg, rgba(0, 255, 218, 1) 0%, rgba(110, 140, 255, 1) 100%);
}
#policy::before {
    background: linear-gradient(90deg, rgba(98, 0, 255, 1) 0%, rgba(241, 110, 255, 1) 100%);
}
#environment::after {
    content : "Environment";
}
#algorithm::after {
    content : "Algorithm";
}
#play::after {
    content : "Play";
}
#reset::after {
    content : "Reset";
}
#policy::after {
    content : "Policy";
}